<div class="header-avatar dropdown">
    <a href="#"><img src="~/img/avatar_fem_2.png" /></a>
    <ul class="dropdown-menu">
        <li>
            <a href="@Url.Action("Logout", "Account")">Logout</a>
        </li>
    </ul>
</div>


