@model List<ThuongMaiDienTu.Models.DanhMuc>

<li class="dropdown">
    <a href="@Url.Action("Index", "DanhMuc")">
        All Categories <i class="fas fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu">
        @foreach (var dm in Model)
        {
            <li>
                <a href="@Url.Action("Index", "DanhMuc", new { idDanhMuc = dm.idDanhMuc })">
                    @dm.tenDanhMuc
                </a>
            </li>
        }
    </ul>
</li>

